<div class="container">
<nav>
    <ul>    
        <li><a href="/">HOME</a></li>
    </ul>
</nav> 
    
    <div class="gallery" >
        <div class="panel">
        <h1 class="title2">Panel de Administración</h1>
        <button onclick="irAgregarProductos()">Productos</button>
        <button onclick="irDBUser()">Usuario</button>
        <button {{!-- onclick="irRendimientos()" --}}>Rendimiento</button>
        <button {{!-- onclick="irPanelControl()" --}}>Controladores</button>
        </div>
    </div>
        <button onclick="volver()">Home</button>
</div>

<script src="/js/admin.js"></script>
