<div class="container">
<nav>
</nav>
<div class="login">
    <h1 class="loginH1">Reestablecer Contraseña </h1>
    <form id="restartPasswordForm">
        <label >Correo Electronico</label>
        <input class="email" name="email">
        <label >Nueva Contraseña</label>
        <input class="submit" name="password" type="password" >
        <br>
        <input type="submit">
    </form>
</div>
<p>Ir a Inicio de sesión<a href="/login">Ingresa aquí</a></p>
</div>
</div>


<script src="/js/restartPassword.js"></script>